#header{
    padding:1%;
    a{
        font-size: 20px;
    }
    .logo{
        font-weight: bold;
        font-size: 30px;
        padding:10px;
        a{
            text-decoration: none;
            color:black;
        }
        a:hover {
            color: black;
          }
    }
}

