.bannerPic{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.banner-carousell {
    padding-top: 40px;

    .awssld__wrapper {
        height: 450px;
    }

    .awssld__bullets {
        z-index: 999;
        bottom: 10px;
    }
}
